.background {
    /*-fx-background-color: #01b106;*/
    -fx-background-image: url("bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 720;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.boardBackground {
    -fx-background-color: #24cd28;
}

.selectLabel {
    -fx-font-size: 25px;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.selectButton {
    -fx-pref-height: 50px;
    -fx-font-size: 1em;
    -fx-background-color: #35c7de;
}

.selectGame {
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-font-size: 1.5em;
    -fx-background-color: #35c7de;
}

.onlineButton{
    -fx-pref-height: 50px;
    -fx-font-size: 1em;
    -fx-background-color: #35c7de;
}

.playerListLabel {
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}
.mainButton{
    -fx-pref-height: 50px;
    -fx-font-size: 1em;
    -fx-background-color: #35c7de;
}

.subscribeReversi{
    -fx-pref-height: 50px;
    -fx-font-size: 1em;
    -fx-background-color: #35c7de;
}
